global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'order-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['order-service:8081']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'order-service'

  - job_name: 'payment-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['payment-service:8082']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'payment-service'

  - job_name: 'notification-service'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['notification-service:8083']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: 'notification-service'
